@import url('utility.css');

/* ----------------------- */
/*[ mobile navbar start]
==============================*/
#mobile-nav{
    padding: 10px 0;
    box-shadow: 5px 5px 5px #ddd;
}
#mobile-nav .navbar-brand{
    left: 2%;
    transform: translateX(0%);
    top: 21px;
}
.navbar-mobile {
    margin-top: 6rem;
}
.navbar-mobile .nav-item .nav-link{
    color: var(--dark) !important;
}
/*[ mobile navbar End]
==============================*/


/*[ header navbar start]
==============================*/
header{
    padding: 1.2rem 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
}
.navbar-brand img {
    width: 85%;
    margin-top: 10px;
}

.nav-left {
    margin-left: 22rem;
}
.nav-right {
    margin-right: 23rem;
}
.nav-item{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--main-font);
    padding: 0rem 2px;
}
.nav-item .nav-link{
    color: var(--white-color) !important;
    transition: color .1s ease-in;
}
.nav-item:hover a{
    color: var(--main-color) !important;
}
.nav-item  .active{
    color: var(--main-color) !important;
}
/*[ header navbar End]
==============================*/
/* ----------------------------- */

/*[ Banner Section start ]
===========================================================*/
.swiper {
  width: 100%;
  height: 45rem;
}
.swiper-slide {
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: center;
}
.swiper-slide::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
}
.swiper-slide h2{
    font-size: 4.5rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: var(--white-color);
    letter-spacing: 5px;
}
.swiper-slide p {
    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 20px;
    margin: 0px 8rem;
}
.swiper-slide a{
    margin-top: 25px;
}
.content{
    margin: 16.5rem 0;
    padding: 0 30.5rem;
    z-index: 99;
    position: relative;
}
.swiper-button-prev {
    background: rgba(0,0,0,0.5);
    padding: 31px 27px;
    color: var(--white-color);
    font-size: 9px;
    transition: color .6s ease-in;
}
.swiper-button-next {
    background: rgba(0,0,0,0.5);
    padding: 31px 27px;
    color: var(--white-color);
    font-size: 9px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--main-color);
}

.swiper-button-prev::before{
    content: 'Prev';
    background: rgba(0,0,0,0.5);
    color: var(--white-color);
    font-size: 19px;
    position: absolute;
    left: 54px;
    transform: rotateY(90deg);
    padding: 16px 21px;
    transition: transform .3s ease-in;
    transform-origin: top left;
    
}
.swiper-button-prev:hover::before{
    transform: rotateY(0deg);
}

.swiper-button-next::before{
    content: 'Next';
    background: rgba(0,0,0,0.5);
    color: var(--white-color);
    font-size: 19px;
    position: absolute;
    right: 54px;
    transform: rotateY(90deg);
    padding: 16px 21px;
    transition: transform .3s ease-in;
    transform-origin: top right;
    
}
.swiper-button-next:hover::before{
    transform: rotateY(0deg);
}

/*--- [=================] ---*/
/*--- slider cart Start ---- */
.singleCart{
    background: var(--main-color)
}
.singleCart:nth-child(odd){
    background-color: var(--main-color);
}
.singleCart{
    padding: 40px 60px;
    font-family: var(--main-font);
}
.singleCart h3{
    font-weight: 800;
    font-size: 23px;
    color: var(--white-color);
}
.singleCart p{
    color: var(--white-color);
    font-size: 15px;
}
/*--- slider cart End ---- */

/*[======================]*/
/*--- service section style Start ---*/
#service{
    padding: 6rem 0;
}
.service-header p{
  font-family: var(--head-font);
  font-style: italic;
  font-size: 18px;
  margin: 0;
  color: var(--main-color)
}
.service-header h3{
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 30px;
}
.single-service i{
    font-size: 3em;
    color: var(--main-color);
    margin-bottom: 16px;
}
.single-service h4{
    font-weight: 900;
    font-family: var(--main-font);
    font-size: 20px;
}
.single-service p{
    font-size: 18px;
    color: #6c757d;
    line-height: 1.5;
}
/*--- service section style End ---*/

/*[===========================]*/

/*--work section style start ---*/
#work{
    margin-bottom: 5rem;
    background-color: rgb(248,249,250);
    overflow-x: hidden;
}
.work-img{
   background-image: url('../media/work-img.jpg');
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 100%;
   min-height: 20rem;
}
.work-content{
    padding: 5.5rem 2.5rem;
}
.work-head-content{
    font-size: 18px;
    font-family: var(--head-font);
    font-style: italic;
    color: var(--main-color);
    font-weight: 600;
}

.work-content h2{
   font-size: 30px;
   font-family: var(--main-font);
   font-weight: 800;
}
.work-content p{
    font-size: 18px;
    font-weight: 400;
    color: #6c757d;
}
.work-content ul li{
    margin-bottom: 10px;
    font-size: 17px;
    color: #6c757d;
    font-family: var(--secondary-font);
}
.work-content ul li i{
    color: var(--main-color);
    margin-right: 10px;
}
.work-content img{
    width: 10%;
}
.work-content h5{
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: var(--secondary-font);
    margin: 0;
}
.work-conten-footer-text{
    font-size: 16px;
    color: var(--main-color);
    font-family: var(--head-font);
    font-style: italic;
    margin: 0;
}
/*--work section style End ---*/


/*-- sermon section style start -- */
.sermon-head span{
    font-size: 18px;
    font-family: var(--head-font);
    font-style: italic;
    color: var(--main-color);
    font-weight: 600;
}
.sermon-head h2{
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 800;
}
.single-sermon img{
    width: 100%;
    transition: all .2s ease-in-out;
}
.sermon-content h4{
    font-family: var(--main-font);
    font-weight: 900;
    margin-top: 15px;
}
.sermon-content p{
    font-family: var(--head-font);
    color: var(--main-color);
    font-style: italic;
}
.sermon-content span{
    font-size: 17px;
    font-family: var(--secondary-font);
    color: #6c757d;
}
/*-- sermon section style End -- */

/*--- Volunteer style start --- */
#volunteer{
    background-image: url(../media/volunteer.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    width: 100%;
}
.overlay{
    position: relative;
}
.overlay::after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: var(--main-color);
    z-index: 2;
}
.singlevolunter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
    position: relative;
    z-index: 20;
    color: var(--white-color);
    margin: 15px 0;
}
.singlevolunter span{
    font-family: var(--head-font);
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
}
.singlevolunter h2{
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 70px;
    margin: 8px 0px;
}
.singlevolunter a{
    
}

/*--- Volunteer style End --- */


/*--- next event style start --- */
#next-event{
    background-color: var(--main-color);
    margin-bottom: 2rem;
}
#next-event h4{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 700;
    font-family: var(--bold-font);
}
.timer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-timer p{
    font-size: 18px;
    color: var(--white-color);
    font-family: var(--head-font);
    font-style: italic;
    font-weight: 800;
}
.common-style{
    margin: 0 15px;
}
.common-style p{
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--main-font);
    font-style: normal;
    margin-bottom: 0;
}
.common-style span{
    font-family: var(--head-font);
    color: var(--white-color);
    font-style: italic;
    text-transform: capitalize;
    font-size: 18px;
}
.event-button a{
    color: var(--white-color);
    border: 1px solid var(--light);
    transition: .3s ease-in;
}
.event-button a:hover{
    background-color: var(--light);
    color: var(--dark-color)
}
@media (max-width: 990px) {
    #next-event h4{
        text-align: center;
    }
}
/*--- next event style End --- */

/*--- Event cart style start --- */
.eventCartHead{
    text-align: center;
    margin-bottom: 15px;
}
.eventCartHead p{
    font-family: var(--head-font);
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.eventCartHead h3{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2.5px;
}
.event-cart{
    background-color: var(--light);
}
.event-date{
    display: flex;
}
.event-date p{
    font-size: 5rem;
    color: #d2d2d2;
    font-weight: bold;
    margin-right: 10px;
}
.event-date div h5{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--secondary-font);
    margin-bottom: 0;
}
.event-date div span{
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    color: #6c757d;
}
.event-cart-text h3 a{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 700;
    transition: all .3s;
}
.event-cart-text h3 a:hover{
    color: var(--dark-brown)
}
.event-cart-text p{
    font-size: 16px;
    font-family: var(--head-font);
    font-weight: 600;
    font-style: italic;
    color: #6c757d;
    margin: 0;
}
.event-cart-btn a{
    color: var(--main-color);
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--main-font);
    border: 1px solid var(--main-color);
    transition: all .3s ease-in;
}
.event-cart-btn a:hover{
    background-color: var(--main-color);
    color: var(--white-color)
}
/*--- Event cart style End --- */

/*[===========================]*/

/*-- donate style start -- */
#donate{
    background-color: var(--light);
    overflow-x: hidden;
}
.donate-content{
    padding: 35px;
}
.donate-content span{
    font-family: var(--head-font);
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
}
.donate-content h3{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}
.donate-content p{
    font-size: 17px;
    color: #6c757d;
    font-family: var(--bold-font);
    padding-left: 18rem;
    font-weight: 400;
}
.progress-container{
    width: 9rem;
    height: 9rem;
    display: inline-block;
    position: relative;
}
.progress-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.progress-content h3{
    font-size: 1.5rem;
    letter-spacing: 0px;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 900;
    margin: 0;
}
.donate-button button a{
    color: var(--white-color);
}
.donate-button button:hover{
    background-color: var(--main-color);
}
.donate-picture{
    background-image: url(../media/donate.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

/*-- donate style End -- */

/*[===========================]*/


/*-- reach style start --*/
#reach{
    text-align: center;
    margin: 90px 0;
}
.reach-head span{
    font-family: var(--head-font);
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
}
.reach-head h3{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}
#reach .right{
    margin-left: -13px;
}
.reach-head p{
    color:#6c757d;
    font-family: var(--secondary-font);
    font-weight: 400;
    padding: 0 18rem;
    font-size: 17px;
}
.reach-image{
    background-image: url(../media/reach-img.jpg);
    background-position: center;
    background-size: cover;
    height: 20rem;
}
.reach-content h4{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--main-font);
    margin-bottom: 12px;
}
.reach-content p{
    color:#6c757d;
    font-family: var(--main-font);
    font-weight: 4500;
    font-size: 16px;
}
.reach-content ul li{
    color:#6c757d;
    font-family: var(--main-font);
    font-weight: 4500;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*-- reach style End --*/

/*[===========================]*/

/*--- footer style start --- */
footer{
    background-color: #111;
}
.footer-2 h3{
    font-size: 20px;
    font-weight: 800;
    color: var(--white-color);
    font-family: var(--main-font);
}
.footer-2 h6{
    font-size: 17px;
    color: var(--main-color);
    font-weight: 800;
}
.footer-3 h3{
    font-size: 20px;
    font-weight: 800;
    color: var(--white-color);
    font-family: var(--main-font);
}
.footer-3 input{
    background: none !important;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    border-color: #343a40 !important;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    padding-right: 8rem;
    border: 1px solid #ced4da;
    color: var(--white-color);
    outline: none;
    text-transform: capitalize;
}
.footer-3 input:focus{
    border: 1px solid var(--main-color);
}
.footer-3 button{
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin-left: -4px;
    border-radius: 0;
}
.footer-3 button:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);;
}
.footer-text{
    font-size: 17px;
}
.footer-text p a{
    color: var(--main-color);
    font-family: var(--main-font);
}

/*--- footer style End --- */


/*-- scroll top button style start --*/
#strollTop{
    position: relative;
}
#strollTop a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--white-color);
    position: fixed;
    right: 1rem;
    bottom: -4rem;
    z-index: 9999;
    bottom: 2rem;
    right: 2rem;
}
/*-- scroll top button style End --*/

/*[===========================]*/

/*--- color change button ---- */
#collapse-button{
    position: fixed;
    top: 120px;
    left: 0px;
    z-index: 2;
}
#collapse-button button{
    background-color: var(--main-color);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    color: var(--white-color);
    border: 1px solid var(--main-color);
}
#collapse-button button i{
    animation: rotation 2s infinite linear;
}
/*--- animation top button icon -- */
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*--- color change button ---- */

/*-- collapse button show color --- */
#showCollapse{
    width: 300px;
    padding: 40px 20px;
    position: fixed;
    top: 163px;
    left: -301px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    z-index: 2000;
    transition: left .3s ease;
}
#showCollapse h4{
    font-family: var(--main-font);
    font-weight: 800;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

#showCollapse #colors{
    display: block;
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 5px 10px;
    outline: none;
}
#showCollapse option{
    margin-bottom: 5px;
    font-family: var(--main-font);
}
/*-- collapse button show color End --- */


/*--======================================--*/

/*----- @media queary navbar Start ---- */
@media (max-width: 1220px) {
    .nav-left{
        margin-left: 16rem;
    }
    .nav-right{
        margin-right: 17rem;
    }
}

@media (max-width: 1200px) {
    .nav-left{
        margin-left: 11rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}

@media (max-width: 991px){
    header{
        display: none;
    }
    .mobile-nav-wrapper{
        display: block;
    }
}
@media (min-width: 991px){
    header{
        display: block;
    }
    #mobile-nav{
        display: none;
    }
}
@media(max-width: 1400px){
    .nav-left{
        margin-left: 17rem;
    }
    .nav-right{
        margin-right: 18rem;
    }
}
@media(max-width: 1200px){
    .nav-left{
        margin-left: 11.5rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}
/*--- @media queary Navbar End --- */
/* ---------------------------------- */

/*[===========================]*/
/*-- slider media query Start ---- */
@media screen and (max-width: 1500px) {
    .content{
      padding: 0 20rem;
    }
}
@media screen and (max-width: 1200px) {
    .content{
      padding: 0 10rem;
    }
}
@media screen and (max-width: 1000px) {
    .content{
      padding: 0 5rem;
    }
}
@media screen and (max-width: 900px) {
    .content h2{
      font-size: 3.5rem;
    }
}
@media screen and (max-width: 600px) {
    .content{
      padding: 0 2rem;
    }
    .content h2{
      font-size: 3rem;
    }
    .content p{
        font-size: 15px;
        margin: 0px 1rem;
    }
}
/*-- slider media query End ---- */

/*[===========================]*/

/*-- svolenter media query Start ---- */
@media screen and (max-width: 1800px) {
    .singlevolunter{
        padding: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    .singlevolunter{
        padding: 4rem 0;
    }
    .singlevolunter h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 500px) {
    .singlevolunter h2{
        font-size: 30px;
    }
    .singlevolunter span{
        font-size: 17px;
    }
    .singlevolunter a{
        padding: 9px 21px;
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .singlevolunter h2{
        font-size: 25px;
    }
    .singlevolunter span{
        font-size: 14px;
    }
    .singlevolunter a{
        padding: 8px 15px;
        font-size: 12px;
    }
}
/*-- svolenter media query End ---- */

/*[===========================]*/

/*--- Event Cart media query Start --- */
@media screen and (max-width: 990px) {
    .event-cart{
        text-align: center;
    }
    .event-date{
        display: inline;
    }
    .event-date p{
        font-size: 3rem;
        margin: 0;
    }
    .event-cart-text h3 a{
        font-size: 1.2rem;
    }
    .event-cart-text p{
        font-size: 14px;
    }
    .event-cart-btn{
        margin-top: 10px;
    }
    .event-cart-btn a{
        padding: 10px 20px;
        font-size: 14px;
    }
    .event-date div h5{
        font-size: 16px;
    }
}
/*--- Event Cart media query End --- */

/*[===========================]*/

/*--- Donate media query Start --- */
@media (max-width: 1200px) {
    .donate-content p{
        padding-left: 5rem;
    }
}
@media (max-width: 450px) {
    .donate-content p{
        padding-left: 0rem;
    }
}
/*--- Donate media query End --- */

/*[===========================]*/

/*--- Donate media query Start --- */
@media (max-width: 1200px){
    .reach-head p{
        padding: 0 10rem;
    }
}
@media (max-width: 800px){
    .reach-head p{
        padding: 0rem;
    }
    .reach-head h3{
        font-size: 1.5rem;
    }
    .reach-head span{
        font-size: 16px;
    }
}
@media (max-width: 992px){
    #reach .right{
        margin-left: 0px;
    }
}
/*--- Donate media query End --- */

/*[===========================]*/