@import url('utility.css');

/* ----------------------- */
/*[ mobile navbar start]
==============================*/
#mobile-nav{
    padding: 10px 0;
    box-shadow: 5px 5px 5px #ddd;
}
#mobile-nav .navbar-brand{
    left: 2%;
    transform: translateX(0%);
    top: 21px;
}
.navbar-mobile {
    margin-top: 6rem;
}
.navbar-mobile .nav-item .nav-link{
    color: var(--dark) !important;
}
/*[ mobile navbar End]
==============================*/


/*[ header navbar start]
==============================*/
header{
    padding: 1.2rem 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
}
.navbar-brand img {
    width: 85%;
    margin-top: 10px;
}

.nav-left {
    margin-left: 22rem;
}
.nav-right {
    margin-right: 23rem;
}
.nav-item{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--main-font);
    padding: 0rem 2px;
}
.nav-item .nav-link{
    color: var(--white-color) !important;
    transition: color .1s ease-in;
}
.nav-item:hover a{
    color: var(--main-color) !important;
}
.nav-item  .active{
    color: var(--main-color) !important;
}
/*[ header navbar End]
==============================*/
/* ----------------------------- */

/*----- @media queary Start ---- */
@media (max-width: 1220px) {
    .nav-left{
        margin-left: 16rem;
    }
    .nav-right{
        margin-right: 17rem;
    }
}

@media (max-width: 1200px) {
    .nav-left{
        margin-left: 11rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}

@media (max-width: 991px){
    header{
        display: none;
    }
    .mobile-nav-wrapper{
        display: block;
    }
}
@media (min-width: 991px){
    header{
        display: block;
    }
    #mobile-nav{
        display: none;
    }
}
@media(max-width: 1400px){
    .nav-left{
        margin-left: 17rem;
    }
    .nav-right{
        margin-right: 18rem;
    }
}
@media(max-width: 1200px){
    .nav-left{
        margin-left: 11.5rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}
/*--- @media queary End --- */
/* ------------------------ */


/*[ Banner Section start ]
===========================================================*/
.swiper {
  width: 100%;
  height: 45rem;
}
.swiper-slide {
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: center;
}
.swiper-slide::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
}
.swiper-slide h2{
    font-size: 4.5rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: #fff;
}
.swiper-slide p {
    color: #fff;
    font-family: var(--main-font);
    font-size: 20px;
    margin: 0px 8rem;
}
.swiper-slide a{
    background-color: var(--main-color);
    margin-top: 25px;
    color: var(--white-color);
    padding: 13px  30px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--main-font);
    border: none;
    display: inline-block;
    transition: .4 ease-in;
}
.swiper-slide a:hover{
    background-color: var(--dark-main);
}
.content{
    margin: 18rem 0;
    padding: 0 30.5rem;
}
.swiper-button-prev {
    background: rgba(0,0,0,0.5);
    padding: 31px 27px;
    color: var(--white-color);
    font-size: 9px;
    transition: color .6s ease-in;
}
.swiper-button-next {
    background: rgba(0,0,0,0.5);
    padding: 31px 27px;
    color: var(--white-color);
    font-size: 9px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--main-color);
}

.swiper-button-prev::before{
    content: 'Prev';
    background: rgba(0,0,0,0.5);
    color: var(--white-color);
    font-size: 19px;
    position: absolute;
    left: 54px;
    transform: rotateY(90deg);
    padding: 16px 21px;
    transition: transform .3s ease-in;
    transform-origin: top left;
    
}
.swiper-button-prev:hover::before{
    transform: rotateY(0deg);
}

.swiper-button-next::before{
    content: 'Next';
    background: rgba(0,0,0,0.5);
    color: var(--white-color);
    font-size: 19px;
    position: absolute;
    right: 54px;
    transform: rotateY(90deg);
    padding: 16px 21px;
    transition: transform .3s ease-in;
    transform-origin: top right;
    
}
.swiper-button-next:hover::before{
    transform: rotateY(0deg);
}
/*-- slider media query ---- */
@media screen and (max-width: 1500px) {
    .content{
      padding: 0 20rem;
    }
}
@media screen and (max-width: 1200px) {
    .content{
      padding: 0 10rem;
    }
}
@media screen and (max-width: 1000px) {
    .content{
      padding: 0 5rem;
    }
}
@media screen and (max-width: 600px) {
    .content{
      padding: 0 0rem;
    }
    .content h2{
      font-size: 3.5rem;
    }
    .content p{
        font-size: 15px;
        margin: 0px 1rem;
    }
}
/*--- slider cart ---- */
.singleCart{
    padding: 35px 20px;
    font-family: var(--main-font);
}
.singleCart h3{
    font-weight: 800;
    font-size: 25px;
    color: var(--white-color);
}
.singleCart p{
    color: var(--white-color);
    font-size: 17px;
}
.singleCart:nth-child(odd){
    background: rgba(172,136,126);
}
.singleCart:nth-child(even){
    background: #a27a6e;
}


