@import url('utility.css');
@import url('swipper.css');

header{
    padding: 1.2rem 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
}
.navbar-brand img {
    width: 85%;
    margin-top: 10px;
}

.nav-left {
    margin-left: 21rem;
}
.nav-right {
    margin-right: 21.5rem;
}
.nav-item{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--main-font);
    padding: 0rem 2px;
}
.nav-item .nav-link{
    color: var(--white-color) !important;
    transition: color .3s ease-in;
}
.nav-item:hover a{
    color: var(--main-color) !important;
}

/*-- banner section design Start--- */
