/*----- @media queary navbar Start ---- */
@media (max-width: 1220px) {
    .nav-left{
        margin-left: 16rem;
    }
    .nav-right{
        margin-right: 17rem;
    }
}

@media (max-width: 1200px) {
    .nav-left{
        margin-left: 11rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}

@media (max-width: 991px){
    header{
        display: none;
    }
    .mobile-nav-wrapper{
        display: block;
    }
}
@media (min-width: 991px){
    header{
        display: block;
    }
    #mobile-nav{
        display: none;
    }
}
@media(max-width: 1400px){
    .nav-left{
        margin-left: 17rem;
    }
    .nav-right{
        margin-right: 18rem;
    }
}
@media(max-width: 1200px){
    .nav-left{
        margin-left: 11.5rem;
    }
    .nav-right{
        margin-right: 12rem;
    }
}
/*--- @media queary Navbar End --- */
/* ---------------------------------- */

/*[===========================]*/
/*-- slider media query Start ---- */
@media screen and (max-width: 1500px) {
    .content{
      padding: 0 20rem;
    }
}
@media screen and (max-width: 1200px) {
    .content{
      padding: 0 10rem;
    }
}
@media screen and (max-width: 1000px) {
    .content{
      padding: 0 5rem;
    }
}
@media screen and (max-width: 600px) {
    .content{
      padding: 0 0rem;
    }
    .content h2{
      font-size: 3.5rem;
    }
    .content p{
        font-size: 15px;
        margin: 0px 1rem;
    }
}
/*-- slider media query End ---- */

/*[===========================]*/

/*-- svolenter media query Start ---- */
@media screen and (max-width: 1800px) {
    .singlevolunter{
        padding: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    .singlevolunter{
        padding: 4rem 0;
    }
    .singlevolunter h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 500px) {
    .singlevolunter h2{
        font-size: 30px;
    }
    .singlevolunter span{
        font-size: 17px;
    }
    .singlevolunter a{
        padding: 9px 21px;
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .singlevolunter h2{
        font-size: 25px;
    }
    .singlevolunter span{
        font-size: 14px;
    }
    .singlevolunter a{
        padding: 8px 15px;
        font-size: 12px;
    }
}
/*-- svolenter media query End ---- */

/*[===========================]*/

/*--- Event Cart media query Start --- */
@media screen and (max-width: 990px) {
    .event-cart{
        text-align: center;
    }
    .event-date{
        display: inline;
    }
    .event-date p{
        font-size: 3rem;
        margin: 0;
    }
    .event-cart-text h3 a{
        font-size: 1.2rem;
    }
    .event-cart-text p{
        font-size: 14px;
    }
    .event-cart-btn{
        margin-top: 10px;
    }
    .event-cart-btn a{
        padding: 10px 20px;
        font-size: 14px;
    }
    .event-date div h5{
        font-size: 16px;
    }
}
/*--- Event Cart media query End --- */

/*[===========================]*/

/*--- Donate media query Start --- */
@media (max-width: 1200px) {
    .donate-content p{
        padding-left: 5rem;
    }
}
@media (max-width: 450px) {
    .donate-content p{
        padding-left: 0rem;
    }
}
/*--- Donate media query End --- */

/*[===========================]*/

/*--- Donate media query Start --- */
@media (max-width: 1200px){
    .reach-head p{
        padding: 0 10rem;
    }
}
@media (max-width: 800px){
    .reach-head p{
        padding: 0rem;
    }
    .reach-head h3{
        font-size: 1.5rem;
    }
    .reach-head span{
        font-size: 16px;
    }
}
@media (max-width: 992px){
    #reach .right{
        margin-left: 0px;
    }
}
/*--- Donate media query End --- */

/*[===========================]*/