/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*[ FONT ]
///////////////////////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/

/*-- global fonts -- */
:root{
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}


/*-- color code -- */
:root{
    --main-color: #ac887e;
    --white-color: #fff;
    --dark-white: #ddd;
    --dark: #000000;
    --dark-blue: #6c757d;
}