*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*-- include all fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/

/*-- dicleare font --- */
:root{
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}


/*-- Dicleare Color -- */
:root{
    --main-color: #ac887e;
    --white-color: #fff;
    --dark-white-color: #ddd;
    --black-color: #000;
    --dark-color: #6c757d;
}