/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0
}
body{
    position: relative;
}

/*[ FONT ]
///////////////////////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins:wght@300;400;500&display=swap');
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@1,900&display=swap');
/*--------------------------------------*/


/*-- global fonts -- */
:root{
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --head-font: 'Playfair Display', serif;
    --bold-font: 'Roboto', sans-serif;
    --babes-font: 'Bebas Neue', cursive;
}


/*-- color code -- */
:root{
    --main-color: #ac887e;
    --white-color: #fff;
    --dark-white: #ddd;
    --dark: #000000;
    --dark-blue: #6c757d;
    --dark-brown: #a27a6e;
    --light: #f8f9fa;
}